
/* HEADER */
header {
    color: ;
    background: url(xxxx) no-repeat;
}


/* NAVIGAATIO */
nav





/* BODY */
body {
    font-family: ;
    background-color: #fff;
}


/* MAIN */
main {
    
}



/* FOOTER */





/* FONTIT */