
/* -- HEADER -- */
header {
    background-color: #f4EBE5;
    padding: 1.8em;

}
#headerimg {
    background-color: #f4ebe5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}



/* -- BODY -- */
body {
    font-family: sans-serif;
    background-color: #fff;
}


/* NAVIGAATIO */
#navbar {
    position: sticky;
    position: -webkit-sticky;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    top: 0;
}
#navbar ul {
    background-color: rgb(255, 255, 255);
    margin-top: -2em;
    padding: 1.5em;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
#navbar ul li {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
}
#navlinks {
    display: block;
    border: 1px;
    padding: 1em;
}
.navlink {
    margin-right: 4em;
    float: right;
    padding-top: .8em;
    padding-bottom: .5em;
}
.navlink a {
    color: black;
    text-decoration: none;
}
.navlink a:hover {
    color:rgb(123, 33, 33);
}


#minilogo {
    width: 40px;
    display: flex;
    padding-right: 3em;
}



/* -- MAIN -- */

main {
   font-family: sans-serif;
   color:rgb(15, 15, 15);

}

/* ETUSIVU */
.teksti {
    background-color: rgb(255, 255, 255);
    margin-top: 1em;
    padding-right: 13em;
    padding-left: 13em;
    padding-top: 7em;
    padding-bottom: 7em;
    text-align: justify;
}
.teksti h2 {
    font-size: 2em;
}
.teksti p {
    font-size: 1.3em;
    line-height: 1.4em;
}
.image-container {
    background-color: #dde6d5;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    display: grid;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.image-container > image-tile {
    background-color: rgb(221, 238, 237);
    margin: 1em;
    max-width: 400px;
}
.index-img {
    max-width: 400px;
    box-shadow: 2px 2px 12px #626262;
}

/* YHTEYDENOTTO */
#yhteydenottolomake {
    background-color: #f8d3c5;
}
.yhteystiedot {
    background-color: #dde6d5;
    margin-top: 1em;
    padding-right: 12em;
    padding-left: 12em;
    padding-top: 7em;
    padding-bottom: 7em;
}

/* INFO-SIVU */
.main-info {
    background-color: rgb(255, 255, 255);
    margin-top: 1em;
    padding-right: 6em;
    padding-left: 6em;
    padding-top: 7em;
    padding-bottom: 7em;
    display: flex;
    text-align: justify;
}
.teksti-info {
    font-size: 1.2em;
    line-height: 1.5em;
    justify-content: flex;
    padding-left: 3em;
    padding-right: 3em;
}
.teksti-info h1 {
    font-size: 1.5em;
    line-height: 4em;
}
.kuva-container {
    background-color: #fff;
    float: left;
    margin-right: 3em;
    margin-left: 1em;
}
.image-tile-i {
    background-color: #fff;
}
.infokuva {
    width: 500px;
    box-shadow: 4px 4px 12px #626262;
}


/* -- FOOTER -- */
footer {
    padding: 2em;
    padding-bottom: 6em;
}

.footerteksti {
    background-color: rgb(255, 255, 255);
    margin: 2em;
    margin-left: 4em;
    display: flex;
    flex-wrap: wrap;
} 
.cteksti {
    margin-left: 4em;
}

.somenapit {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin-top: -7em;
}

.somenapit ul {
    margin: 2em;
    padding: 3em;
    margin-right: 2em;
}

/* Someikonit */
.fa {
    color: black;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-right: 2em;
} 
/* Hover-efekti*/
  .fa:hover {
    opacity: 0.7;
}



/* FONTIT */




/* MEDIA */

 
  