
/* -- HEADER -- */
header {
    background-color: #f4EBE5;
    padding: 1.8em;

}
#headerimg {
    background-color: #f4ebe5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}



/* -- BODY -- */
body {
    font-family: sans-serif;
    background-color: #fff;
}


/* NAVIGAATIO */
.navbar {
    position: sticky;
    position: -webkit-sticky;
    background-color: rgb(255, 255, 255);
    top: 0;
    font-family: Syncopate;
    font-size: 1.2em;
}
.navbar ul {
    margin-top: 0em;
    padding: 1.5em;
    list-style-type: none;
    display: flex; 
    flex-wrap: wrap;
    /*display: block;*/
    border: 1px;
    padding: 1em;
}
.navbar ul li {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.navlink {
    margin-right: 4em;
    float: right;
    padding-top: .8em;
    padding-bottom: .5em;
}
.navlink a {
    color: black;
    text-decoration: none;
}
.navlink a:hover {
    color:rgb(123, 33, 33);
}


#minilogo {
    width: 40px;
    display: flex;
    padding-right: 3em;
}



/* -- MAIN -- */

main {
   font-family: sans-serif;
   color:rgb(15, 15, 15);
}

/* ETUSIVU */
.teksti {
    background-color: rgb(255, 255, 255);
    margin-top: 1em;
    padding-right: 13em;
    padding-left: 13em;
    padding-top: 7em;
    padding-bottom: 7em;
    text-align: justify;
    font-family: Montserrat;
}
.teksti h1 {
    font-size: 2em;
    font-family: Montserrat-medium;
}
.teksti p {
    font-size: 1.3em;
    line-height: 1.4em;
}
.image-container {
    background-color: #dde6d5;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    display: grid;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.image-container > image-tile {
    background-color: rgb(221, 238, 237);
    margin: 1em;
    max-width: 400px;
}
.index-img {
    max-width: 400px;
    box-shadow: 2px 2px 12px #626262;
}

/* YHTEYDENOTTO */

#personal-info {
    margin-top: 1em;
    background-color: #dde6d5;
    display: grid;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    font-family: Montserrat;
}
#personal-info h3 {
    font-family: Montserrat-medium;
}
#personal-info p {
    font-size: 1em;
}
#personal-info img {
    box-shadow: 2px 2px 8px #626262;
    max-width: 150px;
}
.yhteystiedot {
    background-color: #dde6d5;
    margin-top: 1em;
    padding-top: 7em;
    padding-bottom: 7em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: Montserrat;
}
.yhteystiedot h1 {
    font-family: Montserrat-medium;
}

.profiilikuva {
    border-radius: 100%;
}
.charlotte {
    margin: 1em;
    margin-top: 3em;
    padding: 1em;
    text-align: center;
}
.ilona {
    margin: 1em;
    margin-top: 3em;
    padding: 1em;
    text-align: center;
}
.jessica {
    margin: 1em;
    margin-top: 3em;
    padding: 1em;
    text-align: center;
}
.saana {
    margin: 1em;
    margin-top: 3em;
    padding: 1em;
    text-align: center;
}


/* lomake */
#yhteydenottolomake {
    background-color: #f8d3c5;
}
#yhteydenottolomake h2 {
    font-family: Montserrat-medium;
    font-size: 1.9em;
}


/* INFO-SIVU */
.main-info {
    background-color: rgb(255, 255, 255);
    margin-top: 1em;
    padding-right: 6em;
    padding-left: 6em;
    padding-top: 7em;
    padding-bottom: 7em;
    display: flex;
    text-align: justify;
}
.teksti-info {
    font-size: 1.2em;
    line-height: 1.4em;
    justify-content: flex;
    padding-left: 2em;
    padding-right: 2em;
    font-family: Montserrat;
}
.teksti-info h1 {
    font-size: 1.4em;
    line-height: 3em;
    font-family: Montserrat-medium;
}
.kuva-container {
    background-color: #fff;
    float: left;
    margin-right: 3em;
    margin-left: 1em;
}
.image-tile-i {
    background-color: #fff;
}
.infokuva {
    width: 100%;
    box-shadow: 4px 4px 12px #626262;
}


/* -- FOOTER -- */
footer {
    padding: 2em;
    padding-bottom: 6em;
    font-family: Montserrat;
}

.footerteksti {
    background-color: rgb(255, 255, 255);
    margin: 2em;
    margin-left: 4em;
    display: flex;
    flex-wrap: wrap;
} 
.cteksti {
    margin-left: 4em;
    font-family: Montserrat-medium;
    letter-spacing: .2em;
}
.cteksti a {
    color:rgb(15, 15, 15);
    text-decoration: none;
}

.somenapit {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin-top: -7em;
}

.somenapit ul {
    margin: 2em;
    padding: 3em;
    margin-right: 2em;
}

/* Someikonit */
.fa {
    color: black;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-right: 2em;
} 
/* Hover-efekti*/
  .fa:hover {
    opacity: 0.7;
}



/* FONTIT */
@font-face {
    font-family: Syncopate;
    src: url(fontit/Syncopate/Syncopate-Regular.ttf);
}
@font-face {
    font-family: Syncopate-Bold;
    src: url(fontit/Syncopate/Syncopate-Bold.ttf)
}
@font-face {
    font-family: Ruluko;
    src: url(fontit/Ruluko/Ruluko-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(fontit/Montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-medium;
    src: url(fontit/Montserrat/Montserrat-Medium.ttf);
}




/* MEDIA */
@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 500px) {

    .teksti {
        background-color: rgb(255, 255, 255);
        margin-top: 1em;
        padding-right: 2em;
        padding-left: 2em;
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;
        font-family: Montserrat;
    }
    .teksti h1 {
        font-size: 1em;
        text-align: center;
        font-family: Montserrat-medium;
    }

    .teksti p {
        font-size: 0.8em;
        line-height: 1.4em;
    }
    
    #burgermenu {
        z-index: 2;
      }

    #burgermenu-bar {
        width: 45px;
        height: 40px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
      }

      .bar {
        height: 5px;
        width: 100%;
        background-color: #DC052D;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
      }

      #bar1 {
        transform: translateY(-4px);
      }

      #bar3 {
        transform: translateY(4px);
      }

      #minilogo {
        width: 10px;
        display: none;
    }


      .navbar {
        background-color: none;
        transition: 0.3s ease;
        display: none;
      }

      .navbar ul {
        top: 0;
        display: block;
        float: left;
        position: absolute;
      }

      .navbar li {
        list-style: none;
        background-color: none;
        padding: 0.5em;
        display: block;
      }

      .navbar li a {
        color: rgb(173, 18, 18);
        font-size: 1em;
        text-decoration: none;
      }

      .navbar li a:hover {
        font-weight: bold;
      }

      .navlink {
        margin-right: 4em;
        float: left;
        
    }

      .burgermenu-bg, #burgermenu {
        top: 0;
        left: 0;
        position: absolute;
      }

      .burgermenu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 40px 0 30px 30px;
        background: radial-gradient(circle, #f0a4b2, #f8b7c3);
        border-radius: 50%;
        transition: 0.3s ease;
      }

      .change {
        display: block;
      }

      .change .bar {
        background-color: white;
      }

      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }

      .change #bar2 {
        opacity: 0;
      }

      .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
      }

      .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(-60%,-30%);
      }
      
      
    

}

@media screen and (max-width: 400px) {

}
 
  