
/* HEADER */
header {
    background-color: #f4EBE5;

}
#headerimg {
    background-color: #f4ebe5;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* BODY */
body {
    font-family: sans-serif;
    background-color: #fff;
}


/* NAVIGAATIO */
#navbar {
    position: sticky;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    top: 0;
}
#navbar ul {
    background-color: rgb(255, 255, 255);
    margin-top: -2em;
    padding: 1.5em;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
#navbar ul li {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
}
#navlinks {
    display: block;
    border: 1px;
    padding: 1em;
}
.navlink {
    margin-right: 4em;
    float: right;
    padding-top: .8em;
    padding-bottom: .5em;
}
.navlink a {
    color: black;
    text-decoration: none;
}
.navlink a:hover {
    color:rgb(123, 33, 33);
}


#minilogo {
    width: 40px;
    display: flex;
    padding-right: 3em;
}



/* MAIN */
main {
   font-family: sans-serif;
   color:rgb(64, 59, 59);

}
.teksti {
    background-color: rgb(176, 161, 191);
    margin-top: 1em;
    padding-right: 12em;
    padding-left: 12em;
    padding-top: 7em;
    padding-bottom: 7em;
    text-align: justify;
}
.teksti h2 {
    font-size: 2em;
}
.teksti p {
    font-size: 1.1em;
    line-height: 1.3em;
}
.image-container {
    background-color: rgb(221, 238, 237);
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.image-container > image-tile {
    background-color: rgb(221, 238, 237);
    margin: 1em;
    max-width: 400px;
}
.image-container > image-tile2 {
    background-color: rgb(103, 140, 122);
    margin: 1em;
    max-width: 400px;
}
.index-img {
    max-width: 350px;
}

.yhteystiedot {
    background-color: rgb(229, 239, 233);
    margin-top: 1em;
    padding-right: 12em;
    padding-left: 12em;
    padding-top: 7em;
    padding-bottom: 7em;
}



/* FOOTER */
#navfooter {
    background-color: rgb(125, 100, 100);
    margin: 5em;
}
#navfooter ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
#navfooter ul li {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
}
#navfooter ul li a {
    display: block;
    border: 1px;
    padding: .5em;
}

#somenapitlista ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#somenapitlista ul li {
    float: right;
}




/* FONTIT */




/* MEDIA */

 /* Someikonit */
 .fa {
    color: black;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Hover-efekti*/
  .fa:hover {
    opacity: 0.7;
  }
  