
/* HEADER */
header {
    background-color: #fff;
}
#headerimg {
    xxx: ;
}


/* NAVIGAATIO */
nav





/* BODY */
body {
    font-family: sans-serif;
    background-color: #fff;
}


/* MAIN */
main {
   font-family: ;
   background-color: rgb(224, 203, 203);

}



/* FOOTER */





/* FONTIT */




/* MEDIA */